<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="blog_register_fix.css">
</head>

<body>
    <div id="bigbox">
        <div id="banner">
            <img src="\img\banner.png" alt="">
        </div>
        <nav>
            <a class="now" href="">Home</a>
            <a href="Blog Register.html">Blog Register</a>
            <a href="Delete List.html">Delete List</a>
            <a href="Logout.html">Logout</a>
        </nav>
        <div id="main">
            <h2>記事の追加が完了しました.</h2><br>


        </div>

    </div>

    <footer>
        <p class="copyright">
            © 2023 everything will be better
            <br><a href="https://www.google.com/" target="_blank">疑問があればここにクリック!</a>
        </p>
    </footer>
    </div>

</body>

</html>