<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">

</head>

<body>
    <div id="bigbox">
        <div id="banner">
            <img th:src="@{/images/banner.png}" alt="123">
        </div>
        <nav>
            <ul class="nav__wrapper">
                        <li class="nav__item"><a th:href="@{/account/blog/list1}">Home</a></li>
                        <li class="nav__item"><a th:href="@{/account/blog/register}">Blog Register</a></li>
                          <li class="nav__item"><a th:href="@{/account/blog/delete/list}">Blog Edit</a></li>
                        <li class="nav__item"><a th:href="@{/account/blog/logout}">Logout</a></li>
                    </ul>
        </nav>
        <div id="main">
            <div id="main_left">
                <h2>About Me</h2>
                <img th:src="@{/images/zwp.png}" alt="zhongweipeng">
                <p>
                    <span>名前</span>:　ショウ　イホウ<br>
                    <span>性別</span>:　男<br>
                    <span>趣味</span>:　ドライブ旅行、プラモデル<br>
                    <span>出身</span>:　中国　広州<br>
                </p>
            </div>
            <div id="main_right">
                <p>
                    Blog List
                    <hr>
                    <div class="blog-list-flex">
				<article class="blog-topic-article" th:each="blog:${blogList}">
					<a th:href="@{/user/blog/edit/{blogId}(blogId=${blog.blogId})}" class="blog-colum">
						<div class="blog-colum-category">
							<p th:text="${blog.categoryName}"></p>
						</div>
						<img th:src="@{/blog-image/{items}(items=${blog.blogImage})}">
						<div class="colum__box">
							<p th:text="${#temporals.format(blog.registerDate, 'yyyy/MM/dd')}"></p>
							<p th:text=" ${blog.blogTitle}"></p>
						</div>
					</a>
				</article>
			</div>

                </p>
            </div>
        </div>

        <footer>
            <p class="copyright">
                © 2023 everything will be better
                <br><a href="https://www.google.com/" target="_blank">疑問があればここにクリック!</a>
            </p>
        </footer>
    </div>
</body>

</html>